export CUDA_VISIBLE_DEVICES=1
export NVEMBED_MODEL_PATH="/home/dilab/.cache/huggingface/models--nvidia--NV-Embed-v2/snapshots/3fa59658547db50a1e8e3346cf057fd0c77ed6ef/"
export VLLM_BASE_URL="http://localhost:8011/v1"
export VLLM_API_KEY="EMPTY"
export VLLM_MODEL="auto"
